head{
	display: block;
	text-align: center;
	font-size: 30px;
	color: rgb(128, 0, 0);
}
game{
	display: block;
	margin-top: 10px;
}
number{
	display: block;
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
	color: red;
}
name{
	display: block;
	font-weight: bold;
	font-size: 20px;
	color: rgb(255, 81, 0);
}
desc{
	display: block;
	margin-top: 5px;
	margin-left: 10px;
	color: rgb(76, 0, 255);
}
cost{
	display: block;
	text-align:right;
	margin-top: 5px;
	margin-right: 20px;
	color: rgb(255, 0, 179);
}